.custom-range {
  -webkit-appearance: none;
  margin: var(--thumb-height, 30px) / 2 0;
  width: var(--track-width, 100%);
}
.custom-range:focus {
  outline: none;
}
.custom-range::-webkit-slider-runnable-track {
  width: var(--track-width, 100%);
  height: var(--track-height, 10px);
  cursor: pointer;
  background: var(--track-color, #424242);
  border-radius: var(--track-radius, 5px);
  border: var(--track-border-width, 1px) solid var(--track-border-color, black);
}
.custom-range::-webkit-slider-thumb {
  border: var(--thumb-border-width, 1px) solid var(--thumb-border-color, white);
  height: var(--thumb-height, 30px);
  width: var(--thumb-width, 30px);
  border-radius: var(--thumb-radius, 8px);
  background: var(--thumb-color, #555bc8);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: calc(((0px - var(--track-border-width, 1px) * 2 + var(--track-height, 10px)) / 2) - (var(--thumb-height, 30px) / 2));
}
.custom-range::-moz-range-track {
  width: var(--track-width, 100%);
  height: var(--track-height, 10px);
  cursor: pointer;
  background: var(--track-color, #424242);
  border-radius: var(--track-radius, 5px);
  border: var(--track-border-width, 1px) solid var(--track-border-color, black);
}
.custom-range::-moz-range-thumb {
  border: var(--thumb-border-width, 1px) solid var(--thumb-border-color, white);
  height: var(--thumb-height, 30px);
  width: var(--thumb-width, 30px);
  border-radius: var(--thumb-radius, 8px);
  background: var(--thumb-color, #555bc8);
  cursor: pointer;
}
