// https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/#aa-bonus-full-less-to-style-range-inputs-in-all-browsers
//
// % pnpm lessc ./src/playground/Range.less ./src/playground/Range.css

@thumb-color: var(--thumb-color, #555bc8);
@thumb-radius: var(--thumb-radius, 8px);
@thumb-height: var(--thumb-height, 30px);
@thumb-width: var(--thumb-width, 30px);
@thumb-border-width: var(--thumb-border-width, 1px);
@thumb-border-color: var(--thumb-border-color, white);

@track-color: var(--track-color, #424242);
@track-radius: var(--track-radius, 5px);
@track-width: var(--track-width, 100%);
@track-height: var(--track-height, 10px);
@track-border-width: var(--track-border-width, 1px);
@track-border-color: var(--track-border-color, black);

.track() {
  width: @track-width;
  height: @track-height;
  cursor: pointer;
}

.thumb() {
  border: @thumb-border-width solid @thumb-border-color;
  height: @thumb-height;
  width: @thumb-width;
  border-radius: @thumb-radius;
  background: @thumb-color;
  cursor: pointer;
}

.custom-range {
  -webkit-appearance: none;
  margin: @thumb-height / 2 0;
  width: @track-width;

  &:focus {
    outline: none;
  }

  &::-webkit-slider-runnable-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }

  &::-webkit-slider-thumb {
    .thumb();
    -webkit-appearance: none;
    margin-top: calc(
      ((0px - @track-border-width * 2 + @track-height) / 2) -
        (@thumb-height / 2)
    );
  }

  &::-moz-range-track {
    .track();
    background: @track-color;
    border-radius: @track-radius;
    border: @track-border-width solid @track-border-color;
  }
  &::-moz-range-thumb {
    .thumb();
  }
}
